extends layout
block sidebar

block content
  .container
    h1 Login Page
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          label(for='username') User Name:
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        label(for='username') Password:
        input.form-control(type='password', name="password", placeholder='Password')
      div(style='text-align: center')
       button.btn.btn-default(type='submit', style='text-align: center') Submit
       &nbsp;
       a(href='/')
        button.btn.btn-primary(type="button") Cancel